@import '../scss/var';
@import '../scss/vendor';
@import '../scss/mixin';

html {
    font-size: 62.5%;
}

body {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
}
img {
    max-width: 100%;
}

.btn {
    font-size: 1.8rem;
}
a, a:hover {
    text-decoration: none;
}
.main_header {
    width: 100vw;
    height: 10rem;
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) $main-color;
   
    & .navbar-brand {
        color: $text-color;
        font-size: 4rem;
        animation: music 1s linear infinite;
    }

    & .fab {
        font-size: 4rem;
    }

    @keyframes music {
        from {
            transform: rotate(5deg);
        }
        to {
            transform: rotate(-5deg);
        }
    }

    & .navbar-nav {
        padding-left: 15rem;

        & .nav-item .nav-link {
            font-size: 1.6rem;
            color: $text-color;
            text-transform: uppercase;
            padding-right: 3rem;
        }

        & .nav-item:last-child > .nav-link{
            padding-right: 0;
        }
    }

    & .nav-item:hover > .nav-link,
    & .navbar-brand:hover, 
    & .navbar-brand > .fas {
        color: $primary-color;
    }
}

// Hero section
.header_hero {
    width: 100%;
    background: $main-color;

    &__text {
        height: 80vh;
        @include content_center(flex-start)
    }

    & .header_hero__text {

        & h2 {
            color: $text-color;
            font-size: 4rem;
            margin-bottom: 3rem;
            line-height: 100%;
            font-weight: 600;
            & span {
                color: $primary-color;
                text-transform: capitalize;
                font-weight: 500;
            }
        }
    
        & p {
            font-size: 1.8rem;
            color: $text-color;
            margin-bottom: 5rem;
        }
    
    
    }

    & figure {
        height: 80vh;
        @include content_center(flex-start)        
    }


}
.footer {
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) $main-color;
    & h4 {
        color: $text-color;
    }
}